*{
  font-family: 'Nanum Gothic', sans-serif;
  outline: 0;
  margin: 0;
  text-decoration: none;
}

.container{
  background-color: white;
  border-radius: 5px;
  width: 400px;
  overflow: hidden;
  max-width: 100%;
  border: 1px solid rgb(238, 167, 252);
}

.container-transfer{
  background-color: white;
  border-radius: 5px;
  width: 400px;
  overflow: hidden;
  border: 1px solid rgb(238, 167, 252);
  margin: auto;
  border-color: rgb(96, 96, 194);
  position: relative;
  margin-top: 150px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(86, 24, 156);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(215, 190, 233);
    color: rgb(86, 24, 156);
  }
 
.form-control{
  margin-bottom: 10px;
  border: none;
}

.transfer{
  float: right;
}

.header{
  text-align: center;
  text-decoration:wavy;
  text-shadow:3mm;
  color: rgb(8, 8, 8);
  background-color:rgb(218, 218, 218);
}

.button-tech{
  margin-bottom: 5px;
  margin-left: 5%;
}

.set-back{
  width: 100%;
  height: 100%;
  background-color: rgb(181, 245, 206);
}
.input-btn{
  margin-left: 40%;
  margin-bottom: 10px;  
}

.corosal{
  height: 400px;
  width: 400px;
}

.back-image{
  height: 100vh;
  background-image:url("currency.jfif");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.auto-index{
  counter-reset: serial-number;
}
.auto-index td:first-child:before{
  counter-increment: serial-number;      /* Increment the Serial counter */
  content: counter(serial-number); /* Display the counter */
}

.header1{
  font-size: 40px;
  padding: 10px;
  text-align: center;
  color: rgb(112, 112, 148);
  font-weight:900;
  text-decoration: dashed;
  background-color: rgb(148, 228, 197);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.tittle{
  height: 100vh;
}